doctype html
html(lang="en")
  head
    include partials/header
  body#arriba
    .header-movil
      h2 WorkFlow
      .menu-movil
        p
          i.fas.fa-bars
          | Menuwu
    a(href="#arriba")
      i.fas.fa-arrow-up
    .contenedor-principal
      aside
        .sidebar
          i.fas.fa-times
          if !proyecto
            .barra-progreso
              .circulo
                p WorkFlow
            .detalles-proyectos
              .user
                img(src=usuario.imagen_perfil?`/profilePics/${usuario.imagen_perfil}`:'/assets/fish.ico' alt='Profile Pic')
                h2
                  | Bienvenido, 
                  span #{usuario.nombre_usuario}
              p Proyectos empezados: #{totalProyectos}
              p Proyectos terminados: #{proyectosCompletados}
              .acciones
                a(href='/mi-cuenta/editar')
                  i.fas.fa-tools
                  |  Mi cuenta
                a(href='/iniciar-sesion')
                  i.fas.fa-sign-out-alt
                  |  Salir
          else
            .barra-progreso
              .circulo(style=`border: 7px solid ${proyecto.color}`)
                p #{proyecto.porcentaje}%
                span COMPLETADO
            .detallesproyecto
              h2(data-url=proyecto.url) #{proyecto.nombre_proyecto}
              p Cantidad de tareas: #{totalTareas}
              p Tareas terminadas: #{tareasCompletadas}
              p Tareas pendientes: #{totalTareas-tareasCompletadas}
              p Inicio del proyecto: #{proyecto.fecha_inicio}
              p Entrega del proyecto: #{proyecto.fecha_entrega}
              input#areas(type="hidden" disabled value=`${proyecto.areas}`)
              .opcionesproyecto
                a(href=`/proyecto/${proyecto.url}/editar-proyecto`) Editar proyecto
                button.eliminar Eliminar proyecto
      .contenido
        .barra
          if proyecto
            a.volver(href=`/proyecto/${proyecto.url}`)
              i.fas.fa-arrow-left
              | Volver al proyecto
          else
            a.volver(href='/')
                i.fas.fa-arrow-left
                | Volver a la página principal
        .listado-proyectos
          form.proyecto.feedback(action=actionForm method="POST")
            fieldset
              legend #{titulo}
              div 
                if errores
                  each error in errores
                    p(style="color:#d93b5b;font-weight:700;font-size:2rem;margin:0;") #{error.msg}
                label(for='nombreproyecto') ¿Cuál es el nombre del proyecto?
                  span.feedback 0/50
                input(type='text' name='nombre_proyecto' value= proyecto ? proyecto.nombre_proyecto:'' required maxlength="50")
                label(for='descripcion_proyecto') Agrega una descripción:
                  span.feedback 0/200
                if proyecto
                  textarea#campotexto(name='descripcion_proyecto' cols='50' rows='5' maxlength="200")= `${proyecto.descripcion_proyecto}`
                else
                  textarea#campotexto(name='descripcion_proyecto' cols='50' rows='5' maxlength="200")
                label(for='fecha_entrega') Selecciona la fecha estimada de la entrega:
                input(id='date' type='date' name='fecha_entrega' value=proyecto?proyecto.fecha_entrega:"" required min='2021-07-15')
                label(for="color" class="color") Selecciona un color para identificarlo:
                input(type="color" id="color" name="color" value= proyecto? proyecto.color:"#000000" required)
                .boton
                  input.btnEnviar(type='submit' value="Agregar")
                  .bg
                  .bg
                  .bg
                  .bg
                  .bg
              div
                label(for="areas") Indica las áreas para este proyecto:
                p Los caracteres especiales no se guardaran
                div
                  if areas
                    each area in areas
                      label.feedback
                        span.feedback 0/25
                      input.area(type="text" value=area maxlength='25')
                  else
                    label.feedback
                      span.feedback 0/25
                    input.area(type="text" maxlength='25')
                button.transparente
                  i.fas.fa-plus
                  | Agregar área
                input.set-areas-trabajo(type="hidden" name="areas")
            fieldset.colaboradores
              legend Colaboradores
              .grid-colaboradores
                h3 Aún no hay colaboradores en este proyecto
              input.colaboradores(type="text" name="id_colaboradores" disabled)
              button.transparente.agregar-colaborador
                i.fas.fa-plus
                | Agregar colaborador
      //- Cierre de proyectos
      //- Cierre del contenido

  include partials/footer