doctype html
html(lang="en")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p WorkFlow
          .detallesproyectos
            .user
              img(src=usuario.imagen_perfil?`/uploads/${usuario.imagen_perfil}`:'/fish.ico' alt='Profile Pic')
              h2
                | Bienvenido, 
                span #{usuario.nombre_usuario}
            p Proyectos empezados: #{totalProyectos}
            p Proyectos terminados: #{proyectosCompletados}
            .acciones
              a(href='/mi-cuenta/editar')
                i.fas.fa-tools
                |  Mi cuenta
              a(href='/iniciar-sesion')
                i.fas.fa-sign-out-alt
                |  Salir
      .contenido
        .barra
          a.volver(href='/')
            i.fas.fa-arrow-left
            | Volver al menú
        .listadoproyectos
          .formulario
            form(action=actionForm method="POST")
              fieldset
                legend #{titulo}
                div 
                  if errores
                    each error in errores
                      p(style="color:#d93b5b;font-weight:700;font-size:2rem;margin:0;") #{error.msg}
                  label(for='nombreproyecto') ¿Cuál es el nombre del proyecto?
                  input(type='text' name='nombre_proyecto' value= proyecto ? proyecto.nombre_proyecto:'' required maxlength="50")
                  label(for='descripcion_proyecto') Agrega una descripción:
                  if proyecto
                    textarea#campotexto(name='descripcion_proyecto' cols='50' rows='5' maxlength="200")= `${proyecto.descripcion_proyecto}`
                  else
                    textarea#campotexto(name='descripcion_proyecto' cols='50' rows='5' maxlength="200")
                  label(for='fecha_entrega') Selecciona la fecha estimada de la entrega:
                  input(id='date' type='date' name='fecha_entrega' value=proyecto?proyecto.fecha_entrega:"" required min='2021-07-15')
                  label(for="color" class="color") Selecciona un color para identificarlo:
                  input(type="color" id="color" name="color" value= proyecto? proyecto.color:"#000000" required)
                  .boton
                    input.btnEnviar(type='submit' value="Agregar")
                    .bg
                    .bg
                    .bg
                    .bg
                    .bg
                div
                  label(for="areas") Indica las áreas para este proyecto:
                  p Los caracteres especiales no se guardaran
                  div
                    if areas
                      each area in areas
                        input.area(type="text" value=area)
                    else
                      input.area(type="text")
                  button.areas-trabajo
                    i.fas.fa-plus
                    | Agregar área
                  input.set-areas-trabajo(type="hidden" name="areas")
        //- Cierre de proyectos
        //- Cierre del contenido
  
  include partials/footer
