doctype html
html(lang='es')
  head
    include partials/header
  body
    .contenedor-principal.login.mobile
      .caja-login
        .encabezado
          h2 #{titulo}
          if editar
            p Para guardar cualquier cambio, es necesario dar click en el botón "Editar mi cuenta"
          if errores
            each error in errores
              p(style="color:#d93b5b;font-weight:700;font-size:2rem;margin:0;") #{error.msg}
          if error
            p(style="color:#d93b5b;font-weight:700;font-size:2rem;margin:0;") #{error}
        if !editar
          img(style="margin:0 auto;" src="/assets/joinUs.gif" alt="El gif")
        form(action=actionForm class=editar?'grid-form feedback':'feedback' method='POST' enctype=editar?"multipart/form-data":"")
          if editar
            div.form-child
              label Imagen de perfil:
              img(src=usuario.imagen_perfil?`/profilePics/${usuario.imagen_perfil}`:'/fish.ico' alt='Profile Pic')
              input(type='file' name='imagen')
          div.form-child
            .campo
              label Nombre de usuario:
                span.feedback 0/60
              input(type='text' name='nombre_usuario' value= usuario.nombre_usuario!=undefined? `${usuario.nombre_usuario}`:'' required maxlength="60")
            .campo
              label(for='email') E-mail:
                span.feedback 0/60
              input(type='email' name='email' value= usuario.email!=undefined? `${usuario.email}`:'' required maxlength="60")
            .campo
              label(for='password') Contraseña:
                span.feedback 0/60
              input(type='password' name='password' required maxlength="60")
            .campo
              label(for='confirmarpassword') Confirmar contraseña:
                span.feedback 0/60
              input(type='password' name='confirmarpassword' required maxlength="60")
            input.btn-login(type='submit' value=editar?'Editar mi cuenta':'Crear cuenta')
        if editar
          a(href="/" style="color:var(--color-principal);width:100%;") Regresar a la página principal 
          a(href="/mi-cuenta/eliminar" style='margin-top:3rem;color:var(--incorrecto)') ELIMINAR CUENTA
        else
          p ¿Ya estás registrado? 
            a(href="/iniciar-sesion" style="color:var(--color-principal)") Iniciar sesión
    
    include partials/footer