extends layout
block contenido
  .contenido
    .barra
      a.botonazul(href='/agregar-proyecto')
        i.fas.fa-plus
        | Nuevo proyecto
    .listado-proyectos
    if proyectos.length
      each proyecto in proyectos 
        .proyecto
          a(href=`/proyecto/${proyecto.url}`)
            .color(style=`width:5%; background-color:${proyecto.color}`)
            h2.nombreproyecto #{proyecto.nombre_proyecto}
            p #{proyecto.descripcion_proyecto}
            h3 #{proyecto.porcentaje}%
            p.fecha-inicio(style="display:none") #{proyecto.fecha_inicio}
            p.fecha-entrega(style="display:none") #{proyecto.fecha_entrega}
            .estado-proyecto 
              .on-time 
              .halfway 
              .ended
    else 
      h2 No hay ningún proyecto iniciado.
    //- Cierre de proyectos
    //- Cierre del contenido
    
    include partials/footer