doctype html
html(lang="es")
  head
    include partials/header
body#arriba
    .header-movil
      h2(data-url=proyecto.url) Proyecto: 
        span(style=`color:${proyecto.color}`) #{proyecto.nombre_proyecto}
      .menu-movil
        p
          i.fas.fa-bars
          | Menuwu
    a(href="#arriba") 
      i.fas.fa-arrow-up
    .contenedor-principal
      aside
        .sidebar
          i.fas.fa-times
          .barra-progreso
            .circulo(style=`border: 7px solid ${proyecto.color}`)
              //- JADE/PUG lets you run unbuffered JavaScript code in the templating engine.
              p #{proyecto.porcentaje}%
              span COMPLETADO
          .detallesproyecto
            h2(data-url=proyecto.url) #{proyecto.nombre_proyecto}
            p Cantidad de tareas: #{tareas.length}
            p Tareas terminadas: 0
            p Tareas pendientes: 0
            p Inicio del proyecto: #{proyecto.fecha_inicio}
            p Entrega del proyecto: #{proyecto.fecha_entrega}
            input#areas(type="hidden" disabled value=`${proyecto.areas}`)
            .opcionesproyecto
              a(href=`/proyecto/${proyecto.url}/editar-proyecto`) Editar proyecto
              button.eliminar Eliminar proyecto
      .contenido
        .barra
          a.botonazul.ocultar(href=`/proyecto/${proyecto.url}/agregar-tarea`)
            i.fas.fa-plus
            | Nueva tarea
          a.volver(href='/')
            i.fas.fa-arrow-left
            | Volver a la página principal
        
        .departamentos
          each area in areas
            .barraDepto(data-departamento=area)
              p #{area}:
              .barraVacia
                .progresoDepto(style=`background-color:${proyecto.color}`)
              p
        .barra.movil
          a.botonazul(href=`/proyecto/${proyecto.url}/agregar-tarea`)
            i.fas.fa-plus
            | Nueva tarea
        
        if tareas.length
          .tareas
            each tarea in tareas 
              .tarea(data-tarea=tarea.id_tarea data-departamento=tarea.departamento)
                h3 #{tarea.tarea_nombre}
                p.descripcion #{tarea.descripcion_tarea}
                p #{tarea.departamento}
                .selects
                  p Prioridad: #{tarea.prioridad}
                .iconos-tarea
                  a.completo.tooltip(href='#' class=(tarea.estatus==1)?'activo':'')
                    i.far.fa-check-circle
                      span.tooltiptext Completar
                  a.nocompleto.tooltip(href='#' class=(tarea.estatus==0)?'activo':'')
                    i.far.fa-times-circle
                      span.tooltiptext Descompletar
                  //- if tarea.estatus==0
                  //-   a.completo.tooltip(href='#')
                  //-     i.far.fa-check-circle
                  //-      span.tooltiptext Completar
                  //-   a.nocompleto.tooltip.activo(href='#')
                  //-     i.far.fa-times-circle
                  //-      span.tooltiptext Descompletar
                  //- if tarea.estatus==1
                  //-   a.completo.tooltip.activo(href='#')
                  //-     i.far.fa-check-circle
                  //-      span.tooltiptext Completar
                  //-   a.nocompleto.tooltip(href='#')
                  //-     i.far.fa-times-circle
                  //-      span.tooltiptext Descompletar
                i.fas.fa-ellipsis-v.tooltip
                  .tooltiptext
                    a(href=`/proyecto/${proyecto.url}/editar-tarea/${tarea.id_tarea}`) Editar
                    p.eliminar-tarea Eliminar
          h3#null-tareas(style="display:none;") No hay tareas en este proyecto aún.
        else 
          h3#null-tareas No hay tareas en este proyecto aún.
      
      include partials/footer
