extends layout
block contenido
  .contenido
    .barra
      a.botonazul.ocultar(href=`/proyecto/${proyecto.url}/agregar-tarea`)
        i.fas.fa-plus
        | Nueva tarea
      a.volver(href='/')
        i.fas.fa-arrow-left
        | Volver a la página principal
    
    .departamentos
      each area in areas
        .barraDepto(data-departamento=area)
          p #{area}:
          .barraVacia
            .progresoDepto(style=`background-color:${proyecto.color}`)
          p
    .barra.movil
      a.botonazul(href=`/proyecto/${proyecto.url}/agregar-tarea`)
        i.fas.fa-plus
        | Nueva tarea
    
    if tareas.length
      .tareas
        each tarea in tareas 
          .tarea(data-tarea=tarea.id_tarea data-departamento=tarea.departamento)
            h3 #{tarea.tarea_nombre}
            p.descripcion #{tarea.descripcion_tarea}
            p #{tarea.departamento}
            .selects
              p Prioridad: #{tarea.prioridad}
            .iconos-tarea
              a.completo.tooltip(href='#' class=(tarea.estatus==1)?'activo':'')
                i.far.fa-check-circle
                  span.tooltiptext Completar
              a.nocompleto.tooltip(href='#' class=(tarea.estatus==0)?'activo':'')
                i.far.fa-times-circle
                  span.tooltiptext Descompletar
            i.fas.fa-ellipsis-v.tooltip
              .tooltiptext
                a(href=`/proyecto/${proyecto.url}/editar-tarea/${tarea.id_tarea}`) Editar
                p.eliminar-tarea Eliminar
      h3#null-tareas(style="display:none;") No hay tareas en este proyecto aún.
    else 
      h3#null-tareas No hay tareas en este proyecto aún.
  
  include partials/footer