doctype html
html(lang="en")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo(style=`border: 7px solid ${proyecto.color}`)
              p #{proyecto.porcentaje}%
              span COMPLETADO
          .detallesproyecto
            h2 #{proyecto.nombre_proyecto}
            p Cantidad de tareas: #{tareas.length}
            -var tareasTerminadas=0
            -var tareasNoTerminadas=0
            each tarea in tareas 
              if tarea.estatus==1
                -tareasTerminadas+=1
              else 
                -tareasNoTerminadas+=1
            p Tareas terminadas: #{tareasTerminadas}
            p Tareas pendientes: #{tareasNoTerminadas}
            p Inicio del proyecto: #{proyecto.fecha_inicio}
            p Entrega del proyecto: #{proyecto.fecha_entrega}
            .opcionesproyecto
              a.botonguardar(href='#') Guardar cambios
              a(href='#') Eliminar proyecto
      .contenido
        .barra
          a.volver(href=`/proyecto/${proyecto.url}`)
            i.fas.fa-arrow-left
            | Volver
        .listadoproyectos
          .formulario
            form(action=`/proyecto/${proyecto.url}/agregarTarea` method="POST")
              fieldset
                legend Nueva tarea
                if(error)
                  p(style="color:#d93b5b;font-weight:700;font-size:2rem;margin:0;")= error
                label(for='tareanombre') ¿Cuál es el nombre de la tarea?
                input(type='text' name='tareanombre' maxlength="30" required)
                label(for='descripciontarea') Agrega una pequeña descripción:
                input(type='text' name='descripciontarea' maxlength="100" required)
                label(for='departamento') ¿A qué área de trabajo pertenece?
                select#departamento(name="departamento" required) 
                  option(value="" selected) -Ninguna-
                  option(value="analisis") Análisis
                  option(value="diseno") Diseño
                  option(value="coding") Coding
                  option(value="testing") Testing
                  option(value="soporte") Soporte
                label(for='prioridad') Indica la prioridad (la puedes cambiar después):
                select#prioridad(name='prioridad' required)
                  option(value='' disabled='' selected='') --
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='6') 6
              .boton
                input.btnEnviar(type='submit')
                .bg
                .bg
                .bg
                .bg
                .bg
        // Cierre de proyectos
        // Cierre del contenido
  
  include partials/footer
