doctype html
html(lang="en")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p WorkFlow
          .detallesproyectos
            .user
              img(src='/fish.ico' alt='Profile Pic')
              h2
                | Bienvenido, 
                span User
            p Proyectos empezados: #{proyectos.length}
            p Proyectos terminados: 0
            .acciones
              a(href='#')
                i.fas.fa-tools
                |  Configuración
              a(href='#')
                i.fas.fa-sign-out-alt
                |  Salir
      .contenido
        .barra
          a.botonazul(href='/agregarProyecto')
            i.fas.fa-plus
            | Nuevo proyecto
        .listadoproyectos
        each proyecto in proyectos 
          .proyecto
            a(href='/proyecto')
              .color(style="width:5%;border:1px solid black; background-color: `${#{proyecto.color}}`")
              h2.nombreproyecto #{proyecto.nombre_proyecto}
              h3 #{proyecto.color}
              p #{proyecto.descripcion_proyecto}
              h3 #{proyecto.porcentaje}%
        // Averiguar cómo acceder a ese valor
        // No lo se a los template strings GG
        // Cierre de proyectos
        // Cierre del contenido
        script(src='/js/script.js')
