doctype html
html(lang="es")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p WorkFlow
          .detallesproyectos
            .user
              img(src='/fish.ico' alt='Profile Pic')
              h2
                | Bienvenido, 
                span User
            p Proyectos empezados: #{proyectos.length}
            p Proyectos terminados: 0
            .acciones
              a(href='#')
                i.fas.fa-tools
                |  Configuración
              a(href='#')
                i.fas.fa-sign-out-alt
                |  Salir
      .contenido
        .barra
          a.botonazul(href='/agregarProyecto')
            i.fas.fa-plus
            | Nuevo proyecto
        .listadoproyectos
        if proyectos.length
          each proyecto in proyectos 
            .proyecto
              a(href=`/proyecto/${proyecto.url}`)
                .color(style=`width:5%; background-color:${proyecto.color}`)
                //- Parece que en la sintaxis de Pug, utilizas # cuando imprimes algo dentro de una etiqueta html, y con $ cuando quieres imprimirlo como atributo de una etiqueta
                h2.nombreproyecto #{proyecto.nombre_proyecto}
                h3 #{proyecto.color}
                p #{proyecto.descripcion_proyecto}
                h3 #{proyecto.porcentaje}%
          // Averiguar cómo acceder a ese valor
          // No lo se a los template strings GG
        else 
          h2 No hay ningún proyecto iniciado.
        // Cierre de proyectos
        // Cierre del contenido
        script(src='/js/script.js')
