doctype html
html(lang="es")
  head
    include partials/header
body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo(style=`border: 7px solid ${proyecto.color}`)
              p 14.29%
              span COMPLETADO
          .detallesproyecto
            h2 #{proyecto.nombre_proyecto}
            p Cantidad de tareas: #{tareas.length}
            -var tareasCompletadas=0
            -var tareasNoCompletadas=0
            each tarea in tareas
              if tarea.estatus==1
                -tareasCompletadas+=1
              else 
                -tareasNoCompletadas+=1
            p Tareas terminadas: #{tareasCompletadas}
            p Tareas pendientes: #{tareasNoCompletadas}
            p Inicio del proyecto: #{proyecto.fecha_inicio}
            p Entrega del proyecto: #{proyecto.fecha_entrega}
            .opcionesproyecto
              a.botonguardar(href='#') Guardar cambios
              a(href='#') Eliminar proyecto
      .contenido
        .barra
          a.botonazul(href=`/proyecto/${proyecto.url}/agregarTarea`)
            i.fas.fa-plus
            | Nueva tarea
          a.volver(href='/')
            i.fas.fa-arrow-left
            | Volver al menú
        .departamentos
          .barraDepto
            p Análisis:
            .barraVacia
              #barraAnalisis.progresoDepto
            p 
          .barraDepto
            p Diseño:
            .barraVacia
              #barraDiseno.progresoDepto
            p
          .barraDepto
            p Coding:
            .barraVacia
              #barraCoding.progresoDepto
            p
          .barraDepto
            p Testing:
            .barraVacia
              #barraTesting.progresoDepto
            p
          .barraDepto
            p Soporte:
            .barraVacia
              #barraSoporte.progresoDepto
            p 
        
        if tareas.length
          .tareas
            each tarea in tareas 
              .tarea
                h3 #{tarea.tarea_nombre}
                p.descripcion #{tarea.descripcion_tarea}
                case tarea.departamento
                  when "analisis"
                    p(id=`${tarea.departamento}`) Área: Análisis
                  when "diseno"
                    p(id=`${tarea.departamento}`) Área: Diseño
                  when "coding"
                    p(id=`${tarea.departamento}`) Área: Código
                  when "testing"
                    p(id=`${tarea.departamento}`) Área: Testing
                  when "soporte"
                    p(id=`${tarea.departamento}`) Área: Soporte
                  default 
                    p No se especificó ningún departamento
                .selects
                  p Prioridad:
                  select#prioridad(name='prioridad')
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                .opcionestarea
                  if tarea.estatus==0
                    a.completo(href='#')
                      i.far.fa-check-circle
                    a.nocompleto.activo(href='#')
                      i.far.fa-times-circle
                  if tarea.estatus==1
                    a.completo.activo(href='#')
                      i.far.fa-check-circle
                    a.nocompleto(href='#')
                      i.far.fa-times-circle
                  a.basura(href='#')
                    i.far.fa-trash-alt          
        else 
          h3 No hay tareas en este proyecto aún.
      script(src='/js/script.js')
