doctype html
html(lang="es")
  head
    include partials/header
body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso

            .circulo(style=`border: 7px solid ${proyecto.color}`)
              //- JADE/PUG lets you run unbuffered JavaScript code in the templating engine.

              p #{proyecto.porcentaje}%
              span COMPLETADO
          .detallesproyecto
            h2(data-url=proyecto.url) #{proyecto.nombre_proyecto}
            p Cantidad de tareas: #{tareas.length}
            p Tareas terminadas: #{tareasCompletadas}
            p Tareas pendientes: #{tareasNoCompletadas}
            p Inicio del proyecto: #{proyecto.fecha_inicio}
            p Entrega del proyecto: #{proyecto.fecha_entrega}
            .opcionesproyecto
              a.eliminar(href='#') Eliminar proyecto
      .contenido
        .barra
          a.botonazul(href=`/proyecto/${proyecto.url}/agregarTarea`)
            i.fas.fa-plus
            | Nueva tarea
          a.volver(href='/')
            i.fas.fa-arrow-left
            | Volver al menú
        .departamentos
          .barraDepto
            p Análisis:
            .barraVacia
              #barraAnalisis.progresoDepto
            p 
          .barraDepto
            p Diseño:
            .barraVacia
              #barraDiseno.progresoDepto
            p
          .barraDepto
            p Coding:
            .barraVacia
              #barraCoding.progresoDepto
            p
          .barraDepto
            p Testing:
            .barraVacia
              #barraTesting.progresoDepto
            p
          .barraDepto
            p Soporte:
            .barraVacia
              #barraSoporte.progresoDepto
            p 
        
        if tareas.length
          .tareas
            each tarea in tareas 
              .tarea(data-tarea=tarea.id_tarea id=`${tarea.departamento}`)
                h3 #{tarea.tarea_nombre}
                p.descripcion #{tarea.descripcion_tarea}
                case tarea.departamento
                  when "analisis"
                    p(id=`${tarea.departamento}`) Área: Análisis
                  when "diseno"
                    p(id=`${tarea.departamento}`) Área: Diseño
                  when "coding"
                    p(id=`${tarea.departamento}`) Área: Código
                  when "testing"
                    p(id=`${tarea.departamento}`) Área: Testing
                  when "soporte"
                    p(id=`${tarea.departamento}`) Área: Soporte
                  default 
                    p No se especificó ningún departamento
                .selects
                  p Prioridad: #{tarea.prioridad}
                .opcionestarea
                  if tarea.estatus==0
                    a.completo(href='#')
                      i.far.fa-check-circle
                    a.nocompleto.activo(href='#')
                      i.far.fa-times-circle
                  if tarea.estatus==1
                    a.completo.activo(href='#')
                      i.far.fa-check-circle
                    a.nocompleto(href='#')
                      i.far.fa-times-circle
                  a.basura(href='#')
                    i.far.fa-trash-alt          
        else 
          h3 No hay tareas en este proyecto aún.
      
      include partials/footer
